asdf==3.1.0
asdf-transform-schemas==0.4.0
asdf_standard==1.1.1
asdf_unit_schemas==0.2.0
attrs==23.2.0
build==1.1.1
cachetools==5.3.3
chardet==5.2.0
colorama==0.4.6
distlib==0.3.8
exceptiongroup==1.2.0
filelock==3.13.1
importlib_metadata==7.0.2
iniconfig==2.0.0
jmespath==1.0.1
numpy==1.26.4
packaging==23.2
platformdirs==4.2.0
pluggy==1.4.0
pygame==2.5.2
pyproject-api==1.6.1
pyproject_hooks==1.0.0
pytest==8.0.2
PyYAML==6.0.1
semantic-version==2.10.0
tomli==2.0.1
tox==4.14.1
virtualenv==20.25.1
zipp==3.17.0
