aiohttp==3.9.3
aiosignal==1.3.1
ansible==8.3.0
ansible-core==2.15.3
anyio==4.3.0
argcomplete==3.2.2
async-timeout==4.0.3
attrs==21.2.0
awscli==1.29.39
awscli-local==0.21
azure-core==1.30.0
azure-identity==1.15.0
beautifulsoup4==4.12.3
black==24.2.0
blinker==1.7.0
Bootstrap-Flask==2.0.2
boto3==1.28.40
botocore==1.31.40
cachelib==0.7.0
cachetools==5.0.0
certifi==2022.5.18.1
cffi==1.15.0
cfgv==3.4.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
command-not-found==0.3
cryptography==37.0.2
dbus-python==1.2.18
Deprecated==1.2.14
dill==0.3.6
distlib==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.1
dnslib==0.9.23
dnspython==2.2.1
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
ecdsa==0.18.0
email-validator==1.2.1
exceptiongroup==1.2.0
filelock==3.13.1
Flask==2.1.2
Flask-Session==0.4.0
Flask-WTF==1.0.1
frozenlist==1.4.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.4
httplib2==0.20.2
httpx==0.27.0
hyperframe==6.0.1
identify==2.5.35
identity==0.3.3
idna==3.3
importlib-metadata==4.11.4
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.2
jmespath==1.0.1
jq==1.6.0
jsonschema==3.2.0
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
localstack==3.0.2
localstack-client==2.5
localstack-core==3.0.2
localstack-ext==3.0.2
lorem==0.1.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
mdurl==0.1.2
microsoft-kiota-abstractions==1.2.0
microsoft-kiota-authentication-azure==1.0.0
microsoft-kiota-http==1.3.0
microsoft-kiota-serialization-json==1.0.1
microsoft-kiota-serialization-text==1.0.0
more-itertools==8.10.0
msal==1.17.0
msal-extensions==1.1.0
msgraph-core==1.0.0
msgraph-sdk==1.1.0
multidict==6.0.5
mypy-extensions==1.0.0
netifaces==0.11.0
nodeenv==1.8.0
numpy==1.26.4
O365==2.0.33
oauthlib==3.2.0
opentelemetry-api==1.23.0
opentelemetry-sdk==1.23.0
opentelemetry-semantic-conventions==0.44b0
packaging==23.1
pandas==2.2.1
pathspec==0.12.1
pbr==5.11.1
pendulum==3.0.0
platformdirs==4.2.0
plux==1.4.0
portalocker==2.8.2
pre-commit==3.6.2
psutil==5.9.5
pyaes==1.6.1
pyasn1==0.5.0
pycparser==2.21
Pygments==2.16.1
PyGObject==3.42.1
PyJWT==2.4.0
pyodbc==5.1.0
pyparsing==2.4.7
pyrsistent==0.18.1
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-dotenv==0.21.1
python-jose==3.3.0
pytz==2024.1
PyYAML==5.4.1
requests==2.27.1
requests-oauthlib==1.3.1
resolvelib==1.0.1
rich==13.5.2
rsa==4.7.2
s3transfer==0.6.2
SecretStorage==3.3.1
semver==3.0.1
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
std-uritemplate==0.0.54
stevedore==5.1.0
stringcase==1.2.0
systemd-python==234
tabulate==0.9.0
tailer==0.4.1
texttable==1.6.4
time-machine==2.13.0
tomli==2.0.1
tomlkit==0.12.3
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.9
virtualenv==20.25.1
wadllib==1.3.6
websocket-client==1.2.3
Werkzeug==2.1.2
wrapt==1.16.0
WTForms==3.0.1
xmltodict==0.13.0
yarl==1.9.4
yq==3.2.3
zipp==3.8.0
